body {
  margin: 0;
  padding: 0;
  background-image: url(../img/bg.jpg);
  font-family: calibri, helvetica, sans-serif;
}

#circle {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  background-image: url(../img/fish-left.png);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.transparent {
  opacity: 0.5;
}

#paragraph {
  background-color: green;
  border-radius: 50px;
  font-family: Verdana, Helvetica, Sans-serif;
  height: 50px;
}
