.header-section {
    color: white;
    background-color: blue;
    padding: 2em 0 2em 2em;
    display: block;
}

.nav-container {
    background-color: yellow;
    display: grid;
    padding: 2em 0 1em 0;
    text-align: center;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.main-container {
    display: grid;
    grid-template-columns: 80fr 20fr;
}

.main-container >.section-one {
    background-color: darkblue;
    padding: 1em 0 1em 0;
    color: white;
}

.main-container >.section-two {
    background-color: greenyellow;
    padding-bottom: 2em;
}

.footer-section {
    color: white;
    background: green;
}

